<div class='container' style='background-color: #fffff3; padding: 25px 25px 25px 35px;'>

<h1 class='lead' style='font-size: 28px;'>Register</h1>


<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :displayname, "Display Name" %><br />
  <%= f.text_field :displayname, :autofocus => true %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div style='margin: 10px 0 0 0;'><%= f.submit 'Sign Up' %></div>
<% end %>

<%= render "devise/shared/links" %>

</div>
