
<script>
  $(document).ready(function(){
     if($('#Postponement').val() != "No"){
        $("#NewWeddingDate").attr('disabled','disabled');
     }
     else{
        $("#project_capital_cost").removeAttr('disabled');
     }

     $('#Postponement').change(function(){
        if($(this).val() != "No"){
          $("#NewWeddingDate").attr('disabled','disabled');
        }
        else{
          $("#Postponement").removeAttr('disabled');
        }
     })
  });

 $(document).ready(function(){
     if($('#WillDivorce').val() != "No"){
        $("#DivorceDate").attr('disabled','disabled');
     }
     else{
        $("#DivorceDate").removeAttr('disabled');
     }

     $('#WillDivorce').change(function(){
        if($(this).val() != "No"){
          $("#DivorceDate").attr('disabled','disabled');
        }
        else{
          $("#DivorceDate").removeAttr('disabled');
        }
     })
  });

 $(document).ready(function(){
     if($('#OneDead').val() != "No"){
        $("#WhoKillsWho").attr('disabled','disabled');
     }
     else{
        $("#WhoKillsWho").removeAttr('disabled');
     }

     $('#OneDead').change(function(){
        if($(this).val() != "No"){
          $("#WhoKillsWho").attr('disabled','disabled');
        }
        else{
          $("#WhoKillsWho").removeAttr('disabled');
        }
     })
  });


</script>

<% if user_signed_in? %>

  
    <% if Bet.exists?(current_user.id) %>
      
      <p>Seriously <%= current_user.displayname %>, you want to place another bet?
        Sorry, but only one bet per customer. If you'd like to see your, and everyone else's predictions
        you can <%= link_to 'click here.', bets_path %></p>
      
      <% else %>
      

<%= semantic_form_for(@bet)  do |f| %>



<%= f.inputs do %>
  <% if @bet.errors.any? %>
    
    <div id="error_explanation">
      <h2><%= pluralize(@bet.errors.count, "error") %> prohibited this bet from being saved:</h2>
      
      <ul>

      <% @bet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      <% end %>
      
      <%= f.input :EngagementDate, :label => "Whe do they get engaged?", :as => :date_select, :start_month => Time.now.month, :start_year => Time.now.year, :end_year => Time.now.year + 10, :order => [:month, :year] %><br />

    <%= f.input :OrigWeddingDate, :label => "They'll be married by the end of:", :as => :date_select, :start_month => Time.now.month, :start_year => Time.now.year, :end_year => Time.now.year + 10, :order => [:month, :year] %><br />

    <%= f.input :Postponement, :label => "Will the wedding be postponed?", :id => 'Postponement', :as => :radio, :collection => ['Yes', 'No'], :selected => 'Yes' %> <br />

    <%= f.input :NewWeddingDate, :label => "The new wedding date is:", :id => 'NewWeddingDate', :as => :date_select, :start_month => Time.now.month, :start_year => Time.now.year, :end_year => Time.now.year + 10, :order => [:month, :year] %><br />

    <%= f.input :WillDivorce, :label => "Will they get a divorce?",  :id => 'WillDivorce', :as => :radio, :collection => ['Yes', 'No'], :selected => 'Yes' %> <br />
    
    <%= f.input :DivorceDate, :label => "They'll be divorced by the end of:", :id => 'DivorceDate', :as => :date_select, :start_month => Time.now.month, :start_year => Time.now.year, :end_year => Time.now.year + 10, :order => [:month, :year] %><br />

    <%= f.input :OneDead, :label => "Will one of them kill the other?", :id => 'OneDead', :as => :radio, :collection => ['Yes', 'No'], :selected => 'Yes' %> <br />
    
    <%= f.input :WhoKillsWho, :label => "Who kills who?", :id => 'WhoKillsWho', :as => :select, :collection => ['He kills her', 'She kills him'], :selected => 'He kills her' %> <br />
    
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>

  <% end %>
<% end %>

<% else %>

<p>You must be <%= link_to 'registered', new_user_registration_path %> to place a bet.</p>

<% end %>
