
<div class='container' style='background-color: #fffff3; padding: 25px 25px 25px 35px;'>
<% if user_signed_in? %>

  
    <% if Bet.exists?(current_user.bet_id) %>
      
      <p>Seriously <%= current_user.displayname %>, you want to place another bet?
        Sorry, but only one bet per customer. If you'd like to see your, and everyone else's predictions
        you can <%= link_to 'click here.', bets_path %></p>
      
      <% else %>
      

<%= semantic_form_for(@bet)  do |f| %>



<%= f.inputs do %>
  <% if @bet.errors.any? %>
    
    <div id="error_explanation">
      <h2><%= pluralize(@bet.errors.count, "error") %> prohibited this bet from being saved:</h2>
      
      <ul>

      <% @bet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      <% end %>
      
      <table>
        <tr>
          <td>
      <div id='EngagementDate' class='customform'>
      <%= f.input :EngagementDate, :label => "When do they get engaged?", :input_html => { :class =>'input-small' }, :as => :date_select, :start_month => Time.now.month, :start_year => Time.now.year, :end_year => Time.now.year + 10, :order => [:month, :year] %><br />
      </div>

      <div id='OrigWeddingDate' class='customform'>
    <%= f.input :OrigWeddingDate, :label => "They'll be married by the end of:", :input_html => { :class =>'input-small' }, :as => :date_select, :start_month => Time.now.month, :start_year => Time.now.year, :end_year => Time.now.year + 10, :order => [:month, :year] %><br />
      </div>

<div id='Pregnant' class='customform'>

   <%= f.input :pregnant, :label => "Pregnancy before marriage?", :input_html => { :id => 'Pregnant', :class =>'input-small' }, :as => :select, :include_blank => false, :collection => ['Yes', 'No'], :selected => 'Yes' %> <br />

    </div>

</td></tr>

       <tr>
          <td>
   
   <div id='Postponement_div' class='customform' >

    <%= f.input :Postponement, :label => "Will the wedding be postponed?", :input_html => { :id => 'Postponement', :class =>'input-small' }, :as => :select, :include_blank => false, :collection => ['Yes', 'No'], :selected => 'No' %> <br />

    </div>

    <div id = 'NewWeddingDate_div'  class='customform'>

    <%= f.input :NewWeddingDate, :label => "The new wedding date is:", :input_html => { :id => 'NewWeddingDate', :class =>'input-small' }, :as => :date_select, :start_month => Time.now.month, :start_year => Time.now.year, :end_year => Time.now.year + 10, :order => [:month, :year] %><br />

    </div>

    </td></tr>

<script>



</script>

<tr>
          <td>
 
<div id = 'WillDivorce' class='customform'>

    <%= f.input :WillDivorce, :label => "Will they get a divorce?",  :input_html => { :id => 'WillDivorce', :class =>'input-small' }, :as => :select, :include_blank => false, :collection => ['Yes', 'No'], :selected => 'Yes' %> <br />

    </div>


    
<div id = 'DivorceDate' class='customform'>

    <%= f.input :DivorceDate, :label => "They'll be divorced by the end of:", :input_html => { :id => 'DivorceDate', :class =>'input-small' }, :as => :date_select, :start_month => Time.now.month, :start_year => Time.now.year, :end_year => Time.now.year + 10, :order => [:month, :year] %><br />

  </div>

  </td></tr>

<tr>
          <td>

    <div id = 'OneDead' class='customform'>

      <%= f.input :OneDead, :label => "Will one of them kill the other?", :input_html => { :id => 'OneDead', :class =>'input-small' }, :as => :select, :include_blank => false, :collection => ['Yes', 'No'], :selected => 'Yes' %> <br />

    </div>
    
    <div id = 'WhoKillsWho' class='customform'>

      <%= f.input :WhoKillsWho, :label => "Who kills who?", :input_html => { :id => 'WhoKillsWho' , :class =>'input-medium'}, :as => :select, :collection => ['He kills her', 'She kills him'], :selected => 'He kills her' %> <br />

    </div>

</td></tr></table>

    
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>

  <% end %>
<% end %>

<% else %>

<p>You must be <%= link_to 'registered', new_user_registration_path %> to place a bet.</p>

<% end %>
<%= link_to 'Back', bets_path %>

</div>
